body {
    font-family: Arial, sans-serif;
    background-color: #007bff;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}



.container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0a969b;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #32c4c9;
}

#generatedContent {
    margin-top: 20px;
}

.hidden {
    display: none;
}

p {
    font-size: 18px;
}

.fondo-gradiente {
    background: linear-gradient(to right, #3c96ca, #1076b9);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Estilo para el fondo verde */
#valueText.green-background {
    background-color: #28a745; /* Verde */
    color: #fff; /* Texto blanco */
    padding: 5px 10px;
    border-radius: 5px;
}

/* Estilo para el fondo rojo */
#valueText.red-background {
    background-color: #dc3545; /* Rojo */
    color: #fff; /* Texto blanco */
    padding: 1px 10px;
    border-radius: 1%;
}
